// about summer section style

.about{
    text-align: center;
    width: 50%;
    margin: 50px auto;
    p{
        font-family: 'Noto Sans',sans-serif;
        font-weight: 200;
        text-decoration: none;
    }
    
    
}

h2{
    text-transform: uppercase;
}
button {
    @include buttonStyle(block, 10px 30px);
}

// 1st gallery section style

.galleryContainer{
    width: 100vw;
}
.flexContainer1{
    display: flex;
}

.flexContainer1 img, .pictureInfo{
    width: 50%;
}

.pictureInfo{
    padding-top: 50px;
    background-color: #f6f6f6;
    text-align: center;
    p{
        width: 50%;
        margin: 0 auto;
        font-family: 'Noto Sans',sans-serif;
        text-decoration: none;
                
    };

    button{
        @include buttonStyle(block,10px 10px);
        margin-top: 20px;
    };
}

h3{
    @include h3Style();
}

// gallery about contact section

.threeIcon{
    width: 100vw;
    background-color: $bgcolor;
    color: #fff;
    text-transform: uppercase;
    ul {
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            margin: 0 80px;
        }
    }
}

// author's about me section style

.icon{
    background-color:#f6f6f6;
}
.blog{
    display: flex;
    margin-top: 50px;
}
.authorPhoto{
    width: 30%;
    img{
        width: 100%;
    }
}
.authorInfo{
    width: 70%;
    margin-left: 20px;
    h2{
        margin-top: 0;
    }
    p{
        font-family: 'Noto Sans',sans-serif;
        text-decoration: none;
    };
    button{
        margin-top: 100px;
        margin-left: 0;
        
    }
}

// 2nd gallery section styles

.galleryContainer2 {
    margin-top: 50px;
    ul{
        display: flex;
        justify-content: space-between;
        li{
            flex-basis: 32%;        }        
    }
}