@mixin buttonStyle ($display,$padding) {
    display: $display;
    margin: 0 auto;
    background-color: $buttonColor;
    text-align: center;
    font-weight: bold;
    padding: $padding;
    border: none;
    text-transform: uppercase;
}


@mixin  h3Style() {
    font-size: 1.125rem;
    text-transform: uppercase;
    text-align: center;
}