html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000;
  line-height: 29px;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

header {
  background-image: url(../summit/summit-assets/asset-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0;
  height: 60vh;
}

h1 {
  font-size: 1.125rem;
  color: #fff;
  margin-top: 100px;
  text-transform: uppercase;
  text-align: center;
}
h1 span {
  display: block;
  font-size: 4rem;
  font-weight: 200;
  margin: 10px 0;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
header nav ul a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}
header nav ul :last-child {
  margin-right: 50px;
}

.logo {
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 50px;
}

.about {
  text-align: center;
  width: 50%;
  margin: 50px auto;
}
.about p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 200;
  text-decoration: none;
}

h2 {
  text-transform: uppercase;
}

button {
  display: block;
  margin: 0 auto;
  background-color: #8dd7e9;
  text-align: center;
  font-weight: bold;
  padding: 10px 30px;
  border: none;
  text-transform: uppercase;
}

.galleryContainer {
  width: 100vw;
}

.flexContainer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexContainer1 img, .pictureInfo {
  width: 50%;
}

.pictureInfo {
  padding-top: 50px;
  background-color: #f6f6f6;
  text-align: center;
}
.pictureInfo p {
  width: 50%;
  margin: 0 auto;
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
}
.pictureInfo button {
  display: block;
  margin: 0 auto;
  background-color: #8dd7e9;
  text-align: center;
  font-weight: bold;
  padding: 10px 10px;
  border: none;
  text-transform: uppercase;
  margin-top: 20px;
}

h3 {
  font-size: 1.125rem;
  text-transform: uppercase;
  text-align: center;
}

.threeIcon {
  width: 100vw;
  background-color: #215a6d;
  color: #fff;
  text-transform: uppercase;
}
.threeIcon ul {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.threeIcon ul li {
  margin: 0 80px;
}

.icon {
  background-color: #f6f6f6;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.authorPhoto {
  width: 30%;
}
.authorPhoto img {
  width: 100%;
}

.authorInfo {
  width: 70%;
  margin-left: 20px;
}
.authorInfo h2 {
  margin-top: 0;
}
.authorInfo p {
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
}
.authorInfo button {
  margin-top: 100px;
  margin-left: 0;
}

.galleryContainer2 {
  margin-top: 50px;
}
.galleryContainer2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.galleryContainer2 ul li {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}